<h1>Privacy Policy Notice</h1>
                <p><strong>The policy:</strong> This privacy policy notice is served by [Business name &amp; full registered address] under the website; [<a href="http://www.domain.co.uk" title="Domain Title" target="_blank">www.domain.co.uk</a>]. The purpose of this policy is to explain to you how we control, process, handle and protect your personal information through the business and while you browse or use this website. If you do not agree to the following policy you may wish to cease viewing / using this website, and or refrain from submitting your personal data to us.</p>
            	<p><strong>Policy key definitions:</strong></p>
                <ul>
                  <li>"I", "our", "us", or "we" refer to the business, [Business name &amp; other trading names].</li>
                  <li>"you", "the user" refer to the person(s) using this website.</li>
                  <li>GDPR means General Data Protection Act.</li>
                  <li>PECR means Privacy &amp; Electronic Communications Regulation.</li>
                  <li>ICO means Information Commissioner's Office.</li>
                  <li>Cookies mean small files stored on a users computer or device.</li>
				</ul>
				<p><strong>Key principles of GDPR:</strong></p>
                <p>Our privacy policy embodies the following key priciples; (a) Lawfullness, fairness and transpatrency, (b) Purpose limitation, (c) Data minimisation, (d) Accurancy, (e) Storage limitation, (f) Integrity and confidence, (g) Accountability.</p>
            	<h2>Processing of your personal data</h2>
                <p>Under the GDPR (General Data Protection Regulation) we control and / or process any personal information about you electronically using the following lawful bases.</p>
                <ul>
                  <li>We are registered with the ICO under the Data Protection Register, our registration number is: ########.</li>
                  <li>We are exempt from registration in the ICO Data Protection Register because [provide reason].</li>
                </ul>
                <ul>
                	<!-- Lawful basis section -->
                	<li>
                        <strong>Lawful basis:</strong> Consent<br>
                        <strong>Where our purpose for processing is:</strong> # <br>
                        <strong>Which is necessary because:</strong> # <br>
                        <strong>We process your information in the following ways:</strong> # <br>
                        <strong>Data retention period:</strong> We will continue to process your information under this basis until you withdraw consent or it is determined your consent no longer exists.<br>
                        <strong>Sharing your information:</strong> We do not share your information with third parties. / We do share your personal information with third parties and they include; .<br>
                        <hr>
                	</li>
                    <!-- Lawful basis section -->
                	<li>
                        <strong>Lawful basis:</strong> Contract<br>
                        <strong>Where our purpose for processing is:</strong> # <br>
                        <strong>Which is necessary because:</strong> # <br>
                        <strong>We process your information in the following ways:</strong> # <br>
                        <strong>Data retention period:</strong> We will continue to process your information under this basis until you withdraw consent or it is determined your consent no longer exists.<br>
                        <strong>Sharing your information:</strong> We do not share your information with third parties. / We do share your personal information with third parties and they include; .<br>
                        <hr>
                    </li>
                    <!-- Lawful basis section -->
                	<li>
                        <strong>Lawful basis:</strong> Legal obligation<br>
                        <strong>Where our purpose for processing is:</strong> # <br>
                        <strong>Which is necessary because:</strong> # <br>
                        <strong>We process your information in the following ways:</strong> # <br>
                        <strong>Data retention period:</strong> We will continue to process your information under this basis until you withdraw consent or it is determined your consent no longer exists.<br>
                        <strong>Sharing your information:</strong> We do not share your information with third parties. / We do share your personal information with third parties and they include; .<br>
                        <hr>
                    </li>
                    <!-- Lawful basis section -->
                	<li>
                        <strong>Lawful basis:</strong> Vital interests<br>
                        <strong>Where our purpose for processing is:</strong> # <br>
                        <strong>Which is necessary because:</strong> # <br>
                        <strong>We process your information in the following ways:</strong> # <br>
                        <strong>Data retention period:</strong> We will continue to process your information under this basis until you withdraw consent or it is determined your consent no longer exists.<br>
                        <strong>Sharing your information:</strong> We do not share your information with third parties. / We do share your personal information with third parties and they include; .<br>
                        <hr>
                    </li>
                    <!-- Lawful basis section -->
                	<li>
                        <strong>Lawful basis:</strong> Public task<br>
                        <strong>Where our purpose for processing is:</strong> # <br>
                        <strong>Which is necessary because:</strong> # <br>
                        <strong>We process your information in the following ways:</strong> # <br>
                        <strong>Data retention period:</strong> We will continue to process your information under this basis until you withdraw consent or it is determined your consent no longer exists.<br>
                        <strong>Sharing your information:</strong> We do not share your information with third parties. / We do share your personal information with third parties and they include; .<br>
                        <hr>
                    </li>
                    <!-- Lawful basis section -->
                	<li>
                        <strong>Lawful basis:</strong> Legitimate interests<br>
                        <strong>Where our purpose for processing is:</strong> # <br>
                        <strong>Which is necessary because:</strong> # <br>
                        <strong>We process your information in the following ways:</strong> # <br>
                        <strong>Data retention period:</strong> We will continue to process your information under this basis until you withdraw consent or it is determined your consent no longer exists.<br>
                        <strong>Sharing your information:</strong> We do not share your information with third parties. / We do share your personal information with third parties and they include; .<br>
                        <hr>
                    </li>
                    <!-- Lawful basis section -->
                	<li>
                        <strong>Lawful basis:</strong> Special category data<br>
                        <strong>Where our purpose for processing is:</strong> # <br>
                        <strong>Which is necessary because:</strong> # <br>
                        <strong>We process your information in the following ways:</strong> # <br>
                        <strong>Data retention period:</strong> We will continue to process your information under this basis until you withdraw consent or it is determined your consent no longer exists.<br>
                        <strong>Sharing your information:</strong> We do not share your information with third parties. / We do share your personal information with third parties and they include; .<br>
                        <hr>
                    </li>
                    <!-- Lawful basis section -->
                	<li>
                        <strong>Lawful basis:</strong> Criminal offence data<br>
                        <strong>Where our purpose for processing is:</strong> # <br>
                        <strong>Which is necessary because:</strong> # <br>
                        <strong>We process your information in the following ways:</strong> # <br>
                        <strong>Data retention period:</strong> We will continue to process your information under this basis until you withdraw consent or it is determined your consent no longer exists.<br>
                        <strong>Sharing your information:</strong> We do not share your information with third parties. / We do share your personal information with third parties and they include; .<br>
                        <hr>
                	</li>
                </ul>
                <p>If, as determined by us, the lawful basis upon which we process your personal information changes, we will notify you about the change and any new lawful basis to be used if required. We shall stop processing your personal information if the lawful basis used is no longer relevant.</p>
                <h2>Your individual rights</h2>
                <p>Under the GDPR your rights are as follows. You can read more about <a href="https://ico.org.uk/for-organisations/guide-to-the-general-data-protection-regulation-gdpr/individual-rights/" title="your rights in details under the GDPR" target="_blank" rel="nofollow">your rights in details here</a>;</p>
                <ul>
                  <li>the right to be informed;</li>
                  <li>the right of access;</li>
                  <li>the right to rectification;</li>
                  <li>the right to erasure;</li>
                  <li>the right to restrict processing;</li>
                  <li>the right to data portability;</li>
                  <li>the right to object; and</li>
                  <li>the right not to be subject to automated decision-making including profiling.</li>
                </ul>
                <p>You also have the right to complain to the ICO [<a href="http://www.ico.org.uk" title="The ICO" target="_blank" rel="nofollow">www.ico.org.uk</a>] if you feel there is a problem with the way we are handling your data.</p>
                <p>We handle subject access requests in accordance with the GDPR.</p>
                <h2>Internet cookies</h2>
                <p>We use cookies on this website to provide you with a better user experience. We do this by placing a small text file on your device / computer hard drive to track how you use the website, to record or log whether you have seen particular messages that we display, to keep you logged into the website where applicable, to display relevant adverts or content, referred you to a third party website.</p>
                <p>Some cookies are required to enjoy and use the full functionality of this website.</p>
                <p>We use a cookie control system which allows you to accept the use of cookies, and control which cookies are saved to your device / computer. Some cookies will be saved for specific time periods, where others may last indefinitely. Your web browser should provide you with the controls  to manage and delete cookies from your device, please see your web browser options.</p>
                <p>Cookies that we use are;</p>
                <ul>
                  <li>[list of cookies used]</li>
                </ul>
                <h2>Data security and protection</h2>
                <p>We ensure the security of any personal information we hold by using secure data storage technologies and precise procedures in how we store, access and manage that information. Our methods meet the GDPR compliance requirement.</p>
                <h3>Fair &amp; Transparent Privacy Explained</h3>
                <p>We have provided some further explanations about user privacy and the way we use this website to help promote a transparent and honest user privacy methodology.</p>
            <h3>Sponsored links, affiliate tracking &amp; commissions</h3>
                <p>Our website may contain adverts, sponsored and affiliate links on some pages. These are typically served through our advertising partners; Google Adsense, eBay Partner Network, Amazon Affiliates, or are self served through our own means. We only use trusted advertising partners who each have high standards of user privacy and security. However we do not control the actual adverts seen / displayed by our advertising partners. Our ad partners may  collect data and use cookies for ad personalisation and measurement. Where ad preferences are requested as 'non-personalised' cookies may still be used for frequency capping, aggregated ad reporting and to combat fraud and abuse.</p>
                <p>Clickable sponsored or affiliate links may be displayed as a website URL like this; <a href="http://www.jamieking.co.uk/blog/welcome.php" title="Small Business Blog UK" target="_blank">www.jamieking.co.uk/blog/welcome.php</a> or as a titled text link like this: <a href="http://www.jamieking.co.uk/blog/blogging/how-to-start-a-blog.php" title="How To Start A Blog" target="_blank">How To Start A Blog</a>.</p>
                <p>Clicking on any adverts, sponsored or affiliate links may track your actions by using a cookie saved to your device. You can read more about cookies on this website above. Your actions are usually recorded as a referral from our website by this cookie. In most cases we earn a very small commission from the advertiser or advertising partner, at no cost to you, whether you make a purchase on their website or not.</p>
                <p>We use advertising partners in these ways to help generate an income from the website, which allows us to continue our work and provide you with the best overall experience and valued information.</p>
                <p>If you have any concerns about this we suggest you do not click on any adverts, sponsored or affiliate links found throughout the website.</p>
                <h3>Email marketing messages &amp; subscription</h3>
                <p>Under the GDPR we use the consent lawful basis for anyone subscribing to our newsletter or marketing mailing list. We only collect certain data about you, as detailed in the "Processing of your personal data" above. Any email marketing messages we send are done so through an EMS, email marketing service provider. An EMS is a third party service provider of software / applications that allows marketers to send out email marketing campaigns to a list of users.</p>
                <p>Email marketing messages that we send may contain tracking beacons / tracked clickable links or similar server technologies in order to track subscriber activity within email marketing messages. Where used, such marketing messages may record a range of data such as; times, dates, I.P addresses, opens, clicks, forwards, geographic and demographic data. Such data, within its limitations will show the activity each subscriber made for that email campaign.</p>
                <p>Any email marketing messages we send are in accordance with the GDPR and the PECR. We provide you with an easy method to withdraw your consent (unsubscribe) or manage your preferences / the information we hold about you at any time. See any marketing messages for instructions on how to unsubscribe or manage your preferences, you can also  <a href="http://www.jamieking.co.uk/blog/cyber-security/my-cyber/unsubscribe-from-all-global-mailchimp-lists.php" title="Unsubscribe from all MailChimp lists" target="_blank">unsubscribe from all MailChimp lists</a>, by following this link, otherwise contact the EMS provider.</p>
                <p>Our EMS provider is; [name of provider here]. We hold the following information about you within our EMS system;</p>
                <ul>
                  <li>Email address</li>
                  <li>I.P address</li>
                  <li>Subscription time &amp; date</li>
                  <li>[list other data that is stored]</li>
                </ul>
            	<h4>Resources &amp; further information</h4>
                <ul>
                    <li><a href="https://ico.org.uk/for-organisations/data-protection-reform/overview-of-the-gdpr/" title="Overview of the GDPR" target="_blank" rel="nofollow">Overview of the GDPR - General Data Protection Regulation</a></li>
                    <li><a href="http://www.legislation.gov.uk/ukpga/2018/12/contents/enacted" title="Data Protection Act 2018" target="_blank" rel="nofollow">Data Protection Act 2018</a></li>
                    <li><a href="http://www.legislation.gov.uk/uksi/2003/2426/contents/made" title="Privacy and Electronic Communications Regulations 2003" target="_blank" rel="nofollow">Privacy and Electronic Communications Regulations 2003</a></li>
                    <li><a href="https://ico.org.uk/for-organisations/guide-to-pecr/" title="Privacy and Electronic Comms Regulations The Guide" target="_blank" rel="nofollow">The Guide to the PECR  2003</a></li>
                    <li><a href="http://twitter.com/privacy" title="Twitter Privacy Policy" target="_blank" rel="nofollow">Twitter Privacy Policy</a></li>
                    <li><a href="http://www.facebook.com/about/privacy/" title="Facebook Privacy Policy" target="_blank" rel="nofollow">Facebook Privacy Policy</a></li>
                    <li><a href="http://www.google.com/privacy.html" title="Google Privacy Policy" target="_blank" rel="nofollow">Google Privacy Policy</a></li>
                    <li><a href="http://www.linkedin.com/static?key=privacy_policy" title="LinkedIn Privacy Policy" target="_blank" rel="nofollow">Linkedin Privacy Policy</a></li>
                    <li><a href="http://mailchimp.com/legal/privacy/" title="MailChimp Privacy Policy" target="_blank" rel="nofollow">Mailchimp Privacy Policy</a></li>
                    <li><a href="http://www.jamieking.co.uk/blog/cyber-security/policies/free-sample-privacy-policy.php" title="Small business GDPR policy template" target="_blank">Small business GDPR policy template</a></li>
            	</ul>
                <p>Privacy Notice Policy Base: v.4.1 Dec 2018 - Made available without liability by Jamie King, <a href="http://www.jamieking.co.uk/services/web/website-management.html" target="_blank" title="Website Management Services">Website management services</a>.</p>
                <!-- End of Free Privacy Policy - Copy up to here -->
                <hr>
                <p>[End of Privacy Policy Notice Template]</p>